body{
    background-color: antiquewhite;
    font-family: 'Varela Round', sans-serif;

}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;

}

.brand img{
    width: 40px;
    padding-right: 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    display: flex;
    margin: 20px auto;
    width: 70%;
    min-height: 65vh;
    border-radius: 12px;
    padding: 34px;
    background-color: black;
    color: white;
    background-image: url("../media/cat_music.jpg");
}

.songlist{
    flex: 2;
}

.songbanner{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(207, 212, 54);
}

.songbanner img{
    width: 200px;
    border-radius: 12px;
}

.bottom{
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: black;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8x 16x;
    box-sizing: border-box;
}
.icons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    width: 80%;
}
.icons i{
    cursor: pointer;
    margin: 0 5px;
}

.newitems{
    display: flex;
    align-items: center;
    gap: 8px;
}


#myProgressBar {
    width: 80vw;
    cursor: pointer;
    margin-bottom: 8px;
}

.songitem{
    display: flex;
    background-color: white;
    color: black;
    margin: 8px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 8px 12px;
}

.songitemcontainer{
    margin-top: 20px;
    max-height: 60vh;
    overflow-y: auto;
}

.songitem img{
    width: 40px;
    margin-right:12px;
    border-radius: 50px;
}

.timestamp{
    margin: 0 23px;
    margin-right: 5px;
}

.timestamp i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 10vw;
    margin-top: 25px;
    font-family: 'varela round', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.songinfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}

.songlistplay i{
    margin-right: 20px;
}

#searchbar{
    padding: 5px 8px;
    border-radius: 8px;
}

.volume-controls{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

#volcontrol{
    width: 120px;
}

.middle-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;

}